name: Label critical PR
on:
  pull_request_target:
    branches:
      -  main
    types:
      - opened
    paths:
      - '**/Migration/**'

jobs:
  add_labels:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write 
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1 
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
