name: Label critical PR
on:
  pull_request_target:
    branches:
      -  main
    types:
      - opened
    paths:
      - '**/Migration/**'

jobs:
  add_labels:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write 
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
