name: Label critical PR
on:
  pull_request_target:
    branches:
      -  main
    types:
      - opened
    paths:
      - '**/Migration/**'

jobs:
  add_labels:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write 
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1 
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
