name: Regression test - AT

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      TOKENGENERATOR_USERNAME:
        required: true
      TOKENGENERATOR_USERPASSWORD:
        required: true
      USER_ID:
        required: true
      PARTY_ID:
        required: true
      PERSON_NUMBER:
        required: true
      WEBHOOK_ENDPOINT:
        required: true
      SLACK_WEBHOOK_URL_TEST:
        required: true

jobs:
  regression-tests:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      altinn_env: ${{ inputs.environment }}      
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
      runFullTestSet: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up k6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run app-events regression tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/app-events.js
          flags: -e app=apps-test -e userId=${{ secrets.USER_ID }} -e partyId=${{ secrets.PARTY_ID }} -e personNumber=${{ secrets.PERSON_NUMBER }}
      - name: Run events regression tests (POST)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/post.js
      - name: Run events regression tests (GET)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/get.js
      - name: Run subscription regression tests
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1    
        with:
          path: test/k6/src/tests/subscriptions.js
          flags: -e app=apps-test -e webhookEndpoint=${{ secrets.WEBHOOK_ENDPOINT }}
      - name: Build failure report
        if: failure()
        run: |

          report=":warning: Events regression test failure in $altinn_env :warning: \n"
          report+="\n Workflow available here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "stepreport="$report >> $GITHUB_ENV
      - name: Report failure to Slack
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL_TEST }}
          payload: |
            {
              "text": "${{ env.stepreport }}"
            }
