name: Slack Notification

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
        description: 'The message to send to Slack'
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Send notification to Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            {
              "text": "${{ inputs.message }}"
            }
