name: Use Case - AT

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  use-case-test:
    strategy:
      fail-fast: false
      matrix:
        environment: [AT22, AT23, AT24]
    environment: ${{ matrix.environment }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      failed-at22: ${{ steps.set-failure.outputs.at22 }}
      failed-at23: ${{ steps.set-failure.outputs.at23 }}
      failed-at24: ${{ steps.set-failure.outputs.at24 }}
    env: # Shared environment vars for k6 test scripts
      altinn_env: ${{ matrix.environment }}
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up k6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run app-events use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/app-events.js
          flags: -e app=apps-test -e userId=${{ secrets.USER_ID }} -e partyId=${{ secrets.PARTY_ID }} -e personNumber=${{ secrets.PERSON_NUMBER }}
      - name: Run events use case tests (POST)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/post.js

      - name: Run events use case tests (GET)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/get.js
      - name: Run subscription use case tests
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/subscriptions.js
          flags: -e app=apps-test -e webhookEndpoint=${{ secrets.WEBHOOK_ENDPOINT }}
      - name: Set failure output
        id: set-failure
        if: failure()
        run: |
          env_lower=$(echo "${{ matrix.environment }}" | tr '[:upper:]' '[:lower:]')
          echo "${env_lower}=true" >> $GITHUB_OUTPUT

  slack-notify:
    if: failure()
    needs: use-case-test
    permissions: {}
    strategy:
      matrix:
        environment: [AT22, AT23, AT24]
        include:
          - environment: AT22
            output: failed-at22
          - environment: AT23
            output: failed-at23
          - environment: AT24
            output: failed-at24
    runs-on: ubuntu-latest
    steps:
      - name: Send notification
        if: needs.use-case-test.outputs[matrix.output] == 'true'
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL_TEST }}
          payload: |
            {
              "text": ":warning: Events use case test failure in ${{ matrix.environment }} :warning: \n\n Workflow available here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
