name: Use Case - PROD

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  use-case-test:
    environment: prod
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env: # Shared environment vars for k6 test scripts
      altinn_env: prod
      encodedJwk: ${{ secrets.MP_ENCODEDJWK }}
      mpKid: ${{ secrets.MP_KID }}
      mpClientId: ${{ secrets.MP_CLIENT_ID }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up k6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run app-events use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/app-events.js
          flags: -e app=${{ secrets.APP_NAME}} -e userName=${{ secrets.USER_NAME }} -e userPassword=${{ secrets.USER_PASSWORD }}
      - name: Run events use case tests (POST)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/post.js
      - name: Run events use case tests (GET)
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/events/get.js
      - name: Run subscription use case tests
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/subscriptions.js
          flags: -e app=${{ secrets.APP_NAME}} -e webhookEndpoint=${{ secrets.WEBHOOK_ENDPOINT }}

  slack-notify:
    if: failure()
    needs: use-case-test
    permissions: {}
    uses: ./.github/workflows/send-slack-warning.yml
    with:
      warning-message: 'Events use case test failure in Production'
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
